<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smart_Invoice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.css" integrity="sha512-KS19mt4IHNVYK0aHDSLFuTqdtp7bJdmOaVcQX+UACZYY7wQLPiQWNL3PTcGyo1PtzOY7IDSZTkzhkSikY7HdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/toastr.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Smart_Invoice</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle table-hover" data-bs-toggle="dropdown" aria-expanded="false">
                            Sales
                            </a>
                             <ul class="dropdown-menu dropdown-menu-dark">
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="SalesInvoices">New Invoice</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="SalesInvoices">List Invoices</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="Customers">New Customer</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="Customers">List Customers</a></li>


                             </ul>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle table-hover" data-bs-toggle="dropdown" aria-expanded="false">
                            Inventory Management
                            </a>
                             <ul class="dropdown-menu dropdown-menu-dark">
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="Warehouses">List Warehouses</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="Warehouses">Add Warehouse</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="Products">List Products</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="Products">Add Product</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="Inventories">Inventories</a></li>
                                 <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="Inventories">Add Inventory</a></li>

                             </ul>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle table-hover" data-bs-toggle="dropdown" aria-expanded="false">
                            Bills
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="Invoices">All Bills</a></li>
                            <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="Invoices">Add a Bill</a></li>
                            </ul>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle table-hover" data-bs-toggle="dropdown" aria-expanded="false">
                            Suppliers Management
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="Companies">Suppliers</a></li>
                            <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="Companies">Add new Supplier</a></li>
                            <li><a class="dropdown-item" asp-area="Accountant" asp-action="Create" asp-controller="ContactPersons">Add Contact Personal</a></li>
                            <li><a class="dropdown-item" asp-area="Accountant" asp-action="Index" asp-controller="ContactPersons">List Contact Personal</a></li>

                            </ul>
                        </li>
                        
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle table-hover" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="Home">Dashboard</a></li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Smart_Invoice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datatables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js" integrity="sha512-P2Z/b+j031xZuS/nr8Re8dMwx6pNIexgJ7YqcFWKIqCdbjynk4kuX/GrqpQWEcI94PRCyfbUQrjRcWMi7btb0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
