
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@using Smart_Invoice.Utility
@model ExchangeRateAPi
<script src="/js/apexcharts.min.js"></script>

<link rel="stylesheet" href="/css/apexcharts.css"/>
<link rel="stylesheet" href="/css/site.css" />

<div class="row">
        <div class="col"style="flex-grow:0" >
            
            <div class="card">
                <div class="row ">
                    <p>Income</p>
                    <p>2800.00$</p>
                    <p>per month in year 2022</p>
                </div>
                
                <div id="income"></div>
            </div>
          
        </div>
         
        <div class="col"style="flex-grow:0" >
            
            <div class="card">
                <div class="row ">
                    <p>Expenses</p>
                    <p>800.00$</p>
                    <p>per month in year 2022</p>
                </div>
                
                <div id="Balance"></div>
            </div>
          
        </div>
        
        <div class="col"style="flex-grow:0" >
            
            <div class="card">
                <div class="row ">
                    <p>Invoice Processed</p>
                    <p>2800.00$</p>
                    <p>per month in year 2022</p>
                </div>
                
            </div>
          
        </div>
        <div class="col"style="flex-grow:0" >
            
            <div class="card">
                <div class="row ">
                    <p>Average Payment Time</p>
                    <p>2800.00$</p>
                    <p>per month in year 2022</p>
                </div>
                
            </div>
          
        </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="card" style="width:fit-content;height:fit-content">
            <p>Cash Flow</p>
            <div id="CashFlow"></div>
        </div>
    </div>
   <div class="col">
       <div class="card" style="flex-direction:column">
           <p>Reminders</p>
           <div class="event-item">
               <p>Deposit $500 to joe Wallet</p>
               <p>Time here</p>
           </div>
       </div>
   </div>
   <div class="col">
       <div class="card" style="flex-direction:column">
           <p>Currency exchange Rates</p>
           <div class="event-item">
         
               <div class="row">
                   <div class="col">
                       <p>USD 1</p>
                   </div>
                   <div class="col"><p>ILS @Model.rate</p></div>
               </div>
               <p></p>
               <p>@Model.date</p>
           </div>
       </div>
   </div>
</div>
<br />
<div class="row">
     <div class="col">
        <div class="card" style="width:fit-content;height:fit-content">
            <p>Top Products</p>
            <div id="Products"></div>
        </div>
    </div>
</div>
<script src="/js/Admin-Dashboard.js"></script>
    
