@{
    ViewData["Title"] = "Home Page";
}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />

<div class="text-center">

    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" >Register</a>
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-area="Admin">Admin</a>
    <a class="nav-link text-dark" asp-controller="Invoices" asp-action="Create" asp-area="Accountant">Accountant</a>

</div>
<div>
    
    <table id="myTable" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>
</div>
