@{
    ViewData["Title"] = "Welcome to";
}

<link rel="stylesheet" href="/css\home.css" />


         <!-- welcome section starts -->
        <section class="welcome" id="welcome">
            <div class="content">
                <h1>Welcome</h1>
                <h2>About Smart Invoice+</h2>
                <p>Smart Invoice+ is an intelligent cloud-based financial system that revolutionizes invoice management and empowers businesses to streamline their operations. With its advanced features and intuitive interface, Smart Invoice+ simplifies the invoicing process, tracks inventory, and provides valuable insights into business performance.</p>
            
            </div>
        </section>
        <!-- welcome section ends -->
   
        <!-- core features section starts -->
        <section class="text2" id="text2">
            <div class="content">
                <h3>Core Features</h3>
                <p>The core feature of Smart Invoice+ is its powerful invoice extraction capability, powered by cutting-edge technologies including Google Vision and OpenAI models. Users can effortlessly upload invoice photos, and the system automatically extracts and processes the relevant information. It seamlessly checks the existence of the company within the system, creating new profiles when necessary.</p>
            </div>
        </section>
        <!-- core features section ends -->
       
        <!-- automated section starts -->
        <section class="text3" id="text3">
            <div class="content">
                <h4>Automated Verification of Products</h4>
                <p>In addition, Smart Invoice+ offers automated verification of products/items listed in invoices against an extensive database. If new products are identified, users are prompted to create them, ensuring comprehensive inventory management. The system also performs a thorough comparison of invoice prices with historical data, promptly alerting users to any discrepancies.</p>
            </div>
        </section>
        <!-- Automated section ends -->

        <!-- business section starts -->
        <section class="text4" id="text4">
            <div class="content">
                <h5>System Advantages For Company Owners</h5>
                <p>Business owners benefit from a customizable dashboard that provides a comprehensive overview of relevant information such as cash flow, best-selling products, and expense breakdown by invoice type. This empowers owners to make data-driven decisions and gain valuable insights into their business's financial performance.</p>
            </div>
        </section>
        <!-- business section ends -->
        <!-- dashboard section starts -->
        <section class="text5" id="text5">
            <div class="content">
                <h6>Dashboard Features</h6>
                <p>Accountants are equipped with a dedicated dashboard tailored to their specific needs. They can access relevant financial information, generate reports, and track key metrics to efficiently manage financial operations. This comprehensive dashboard simplifies the accountant's tasks and enhances collaboration with other stakeholders.</p>
            </div>
        </section>
        <!-- dashboard section ends -->
        <!-- why smart invoice section starts -->
        <section class="text6" id="text6">
            <div class="content">
                <h7>Why Smart Invoice+?</h7>
                <p>With Smart Invoice+, businesses of all sizes can experience enhanced efficiency, accuracy, and productivity in their financial operations. Say goodbye to manual invoice processing and embrace the power of automation with Smart Invoice+. Unlock the potential of your business and let Smart Invoice+ revolutionize the way you manage your finances.</p>
            </div>
        </section>
        <!-- why smart invoice section ends -->
        <!-- Team members section starts -->
        <section class="text7" id="text7">
            <div class="content">
                <h8>Meet Our Team</h8>
            </div>
        </section>
       



    
