@using Smart_Invoice.Models.Invoices;

@model Invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="/css/AddInvoice.css" />
<h1>Create new bill</h1>


<hr />


<section>
    @ViewBag.response
<div class="uploader">
   <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

        <input type="file" id="file-upload" name="file" hidden/>

        <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden preview">
            <div id="start">
              <i class="fa fa-download" aria-hidden="true"></i>
              <div>Select a file or drag here</div>
              <div id="notimage" class="hidden">Please select an image</div>
              <span id="file-upload-btn" class="btn btn-primary" type="submit">Select a file</span>

            </div>
             <div id="response" class="hidden">
      <div id="messages"></div>
      
      <button type="submit" class="hidden btn btn-primary" id="btn_submit">Submit</button>
        </label>
    </form>
</div>
</section>
<br />
<div>
    <h2>Saved Invoices</h2>
    <hr />
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Company</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>INV-001</td>
                <td>Company A</td>
                <td>2023-06-01</td>
                <td>$100.00</td>
                <td>2023-07-01</td>
                <td>Paid</td>
            </tr>
            <tr>
                <td>INV-002</td>
                <td>Company B</td>
                <td>2023-06-15</td>
                <td>$250.00</td>
                <td>2023-07-15</td>
                <td>Due</td>
            </tr>
            <tr>
                <td>INV-003</td>
                <td>Company C</td>
                <td>2023-06-30</td>
                <td>$150.00</td>
                <td>2023-07-30</td>
                <td>Due</td>
            </tr>
            <tr>
                <td>INV-004</td>
                <td>Company D</td>
                <td>2023-07-05</td>
                <td>$300.00</td>
                <td>2023-08-05</td>
                <td>Due</td>
            </tr>
        </tbody>
    </table>
</div>

</div>
<div id="spinner-overlay" hidden>
  <div id="spinner" class="spinner-border text-primary" role="status">
  </div>
    <span id="spinnerLoading" class="sr-only">Processing...</span>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script src="/js/Accountant-Invoice.js"></script>
